<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Confirmation</title>
    <link href="{{ url_for('static', filename='confirmation_page.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<script src="https://cdn.jsdelivr.net/gh/spurushottam13/bifrost-cors/index.min.js"></script>
<body>
<div class="container-fluid">
    <div class="jumbotron text-center full-height">
        <h1>Thank You</h1>
      <p><em>Please hit the button to change password.</em></p>
      <p><a id="passHref" href="http://localhost:3000/Authorization/ChangePassword/{{ confirmation }}" target="_blank">Change Password</a></p>
    </div>
</div>


</body>
</html>
<script type="text/javascript">
    //window.onload = function lickChange() {
       // {#const pabloSHit=http://0.0.0.0:5000#}
      //  const localHostAddress = 'http://localhost:3000/'
       // const authPrefix = 'Authorization/'
       // let changePasswordLink = document.getElementById('passHref');
       // let url = `${localHostAddress}${authPrefix}ChangePassword/{{ email }}`
        //changePasswordLink.setAttribute('href', `${url}`);
   // }
</script>